MB-ForensicWatermark/WaterMarking/PreProcessorB.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      },
      "defaultValue": "preprocessesornotification"
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "azurequeues_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azurequeues"
    },
    "azurequeues_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "queues"
    },
    "azurequeues_1_storageaccount": {
      "type": "string",
      "metadata": {
        "description": "The name of your storage account"
      }
    },
    "azurequeues_1_sharedkey": {
      "type": "securestring",
      "metadata": {
        "description": "The shared storage key of your storage account"
      }
    },
    "MessageSecKeep": {
      "type": "int",
      "defaultValue": 60
    },
    "UpdateMMRKStatus": {
      "type": "string"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "MessageData": {
              "type": "ParseJson",
              "inputs": {
                "content": "@{triggerBody()?['MessageText']}",
                "schema": {
                  "type": "object",
                  "properties": {
                    "JobID": {
                      "type": "string"
                    },
                    "AssetID": {
                      "type": "string"
                    },
                    "FileName": {
                      "type": "string"
                    },
                    "Status": {
                      "type": "string"
                    },
                    "JobOutput": {
                      "type": "string"
                    },
                    "Stage": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {}
            },
            "DeleteMessage": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "delete",
                "path": "/@{encodeURIComponent('preprocessorout')}/messages/@{encodeURIComponent(triggerBody()?['MessageId'])}",
                "queries": {
                  "popreceipt": "@{triggerBody()?['PopReceipt']}"
                }
              },
              "runAfter": {
                "UpdateMMRKCall": [
                  "Succeeded"
                ]
              }
            },
            "Send_Message_to_dead_letter": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent('deadletter')}/messages",
                "body": "@triggerBody()?['MessageText']"
              },
              "runAfter": {
                "UpdateMMRKCall": [
                  "Failed"
                ]
              }
            },
            "UpdateMMRKCall": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "[parameters('UpdateMMRKStatus')]",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "JobID": "@{body('MessageData')?['JobID']}",
                  "AssetID": "@{body('MessageData')?['AssetID']}",
                  "FileName": "@{body('MessageData')?['FileName']}",
                  "State": "@{body('MessageData')?['Status']}",
                  "Details": "@{body('MessageData')?['JobOutput']}",
                  "FileURL": "{NO UPDATE}"
                },
                "retryPolicy": {
                  "type": "none"
                }
              },
              "runAfter": {
                "MessageData": [
                  "Succeeded"
                ]
              }
            },
            "Delete_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "delete",
                "path": "/@{encodeURIComponent('preprocessorout')}/messages/@{encodeURIComponent(triggerBody()?['MessageId'])}",
                "queries": {
                  "popreceipt": "@triggerBody()?['PopReceipt']"
                }
              },
              "runAfter": {
                "Send_Message_to_dead_letter": [
                  "Succeeded"
                ]
              }
            },
            "Send_poisn_message_to_dead_letter": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/@{encodeURIComponent('deadletter')}/messages",
                "body": "@triggerBody()?['MessageText']"
              },
              "runAfter": {
                "MessageData": [
                  "Failed"
                ]
              }
            },
            "Delete_poison_message": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "delete",
                "path": "/@{encodeURIComponent('preprocessorout')}/messages/@{encodeURIComponent(triggerBody()?['MessageId'])}",
                "queries": {
                  "popreceipt": "@triggerBody()?['PopReceipt']"
                }
              },
              "runAfter": {
                "Send_poisn_message_to_dead_letter": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_there_are_messages_in_a_queue": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurequeues']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent('preprocessorout')}/message_trigger",
                "queries": {
                  "visibilitytimeout": "[parameters('MessageSecKeep')]"
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              },
              "splitOn": "@triggerBody()?['QueueMessagesList']?['QueueMessage']"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azurequeues": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurequeues')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azurequeues_1_Connection_Name'))]",
                "connectionName": "[parameters('azurequeues_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azurequeues_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azurequeues_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurequeues')]"
        },
        "displayName": "[parameters('azurequeues_1_Connection_DisplayName')]",
        "parameterValues": {
          "storageaccount": "[parameters('azurequeues_1_storageaccount')]",
          "sharedkey": "[parameters('azurequeues_1_sharedkey')]"
        }
      }
    }
  ],
  "outputs": {}
}